<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css" />
{% block head %}{% endblock %}
</head>
<body>
  <div class='title-bar'>Magic Gater</div>
  <nav class='main-nav'>
    <div>Logo</div>
    <ul>
      <li class='{{tab_classes[0]}}'><a href='/' class='nav-link'><strong>Home</strong></li>
      <li class='{{tab_classes[1]}}'><a href='/stream/' class='nav-link'><strong>Stream</strong></li>
      <li class='{{tab_classes[2]}}'><a href='/saved/' class='nav-link'><strong></strong>Saved</strong></li>
      <li></li>
    </ul>
  </nav>
  <div class='container'>
    {% block body %}{% endblock %}
  </div>
  <script>
    const glitch = document.getElementsByClassName('nav-link')
    document.body.scrollTop = document.documentElement.scrollTop = 0;
    for (let value of glitch) {
      for (let glossary of [1, 2, 4, 5, 7, 8]) {
        if (glitch[glossary] == value) {
          value.style.display = 'none'
        }
      }
      if (value == glitch[9]) {
        console.log('smth')
        value.replaceWith(...value.childNodes);
      }
    }
  </script>
</body>
</html>